.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  &__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  &__image {
    fill: currentColor;
  }

  @media (min-width: 768px) {
    &__item {
      width: calc((100% - 6 * 15px) / 3);
    }
  }

  @media (min-width: 1200px) {
    &__item {
      width: calc((100% - 12 * 15px) / 6);
    }
  }
}

.clients-list__link {
  @extend %flex-center-elem;
  height: 92px;

  border: 1px solid var(--icon-soc-networks-color);
  border-radius: $primBordRadius;

  color: var(--icon-soc-networks-color);

  transition: border-color var(--transition-standart), color var(--transition-standart);

  &:hover,
  &:focus {
    border-color: var(--accent-blue-color);
    color: var(--accent-blue-color);
  }
}
