.burger-btn {
  display: inline-flex;
  margin: 0;
  padding: 12px 8px;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
  &__image {
    fill: currentColor;
  }
}
